@import '../../scss/global';

.list__wrapper {
  margin:1rem 0 3rem;
  text-align: center;
  border-top:1px solid #e8e8e8;
  .list-title{
    margin-top:1rem;
    font-size: $large;
    font-weight: 700;
  }
  .list {
    display: flex;
    justify-content: center;
    > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin:1rem 0;
      text-align: left;
      list-style-type: none;
      > li {
        font-size:12px;
        margin:0.25rem 0;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@include desktop {
  .list__wrapper {
    li {
      font-size:16px !important;
    }
  }

}
