@import '../../scss/global';

header {
  width:100%;
  text-align: center;
  background-color: white;
  font-size: $title-size-large;
  position: fixed;
  top:0;
  -webkit-box-shadow: 0 13px 16px -8px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 13px 16px -8px rgba(0,0,0,0.05);
  box-shadow: 0 13px 16px -8px rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  border-bottom:2px solid #e8e8e8;
  .header-title {
    font-family:'Black Han Sans', sans-serif;
    color:black;
  }
}

