@import '../../scss/global';

.introduce__wrapper {
  margin-top: 2rem;
  .introduce-content {
    text-align: center;
    >strong {
      font-weight: 700;
    }
  }
  .tweet__wrapper {
    margin:2rem 0;
    > div {
      margin: 0 auto;
      iframe {
        min-height: 200px !important;
      }
    }
  }
  .icons__wrapper {
    display: flex;
    justify-content: center;
    >a {
      margin:0 1rem;
      img {
        width:40px;
        height:40px;
      }
    }
  }
}

@include mobile {
  .introduce__wrapper {
    //text-align: left;
    font-size:$small;
  }
}
