@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

body {
  background-color: #ffffff;
  font-size: 16px;
}

a,
a:active {
  color:black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




